:root {
    --t-color-border: gray;
    --t-color-marker: rgba(255, 0, 0, 0.2);
    --t-color-text: #666;
    --t-border-size: 1px;
    --t-bone-border: var(--t-border-size) solid var(--t-color-border);
    --t-label-height: 2rem;
}

body {
    margin: 5rem;
    padding: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

t-skeleton {
    display: block;
    width: 100%;
    position: relative;
}

t-bone {
    position: absolute;
    border-left: var(--t-bone-border);
    padding-block: .25rem;
    text-align: center;
    color: var(--t-color-text);
}

t-bone:last-child {
    border-right: var(--t-bone-border);
}

t-bone:nth-child(even) {
    background-color: #ddd;
}

t-bone:nth-child(odd) {
    background-color: #eee;
}

/* Labels */

/* skeleton & marker labels */
t-bone[data-t-name="1"]:not(:first-child):before,
t-bone[data-t-name="January"]:not(:first-child):before,
t-marker {
    position: absolute;
    line-height: var(--t-label-height);
    padding-inline: .5rem;
    border-style: solid;
    border-width: 0;
}

/* skeleton labels */
t-bone[data-t-name="1"]:not(:first-child):before,
t-bone[data-t-name="January"]:not(:first-child):before {
    inset: calc(-1 * var(--t-label-height)) auto 0 calc(-1 * var(--t-border-size));
    border-color: var(--t-color-border);
    border-left-width: 3px;

    content: attr(data-t-greater-name);
    font-weight: 700;
}

/* marker labels */
t-marker {
    /* inset: 0 auto calc(-1 * var(--t-label-height)) auto; */
    border-color: var(--t-color-marker);
    border-left-width: 2px;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    /* To do: adjust padding-top to the skeleton height */
    padding-top: 2rem;

    font-size: .8rem;
    line-height: normal;

}

/* Markers */
.event-date {
    font-weight: 600;
    color: #666;
}